.video{
    width: 100%;
}

.comments {
    font-size: 0.75rem
}
.userHeading{
    text-align: center;
    margin: auto;
}
.closeIconInside {
    position: absolute;
    z-index: 10;
    right: 5px;
    top: 5px;
    cursor: pointer;
    fill:#ed1b24
  }

.moreInfoWrapper{
    ul {
    margin-left: -20px;

        li {
            margin-left: 0px;
            padding-left: 0px;
            list-style-type: disc;
            font-size: .75rem;
            color: #000;
        }
    }
    .moreInfo {
        margin-top: 20px;
        max-height: 70px;
        overflow: hidden;
        font-size: 10px;
    }
    .moreInfoExpand {
        margin-top: 20px;
        font-size: .75rem;
    }
    .expandLink {
        margin-top: 10px;
        font-size: .75rem;
        cursor: pointer;
        text-align: center;
        width: 100%;
        background-color: linear-gradient(rgb(104, 103, 103, 0.8), transparent);
        height: 40px;
    }
}
.checkoutButton {
 width: 100%;
  max-width: 400px;
}