.space {
    display: flex;
    position: fixed;
    padding: 1rem;
    width: 100vw;
    box-sizing: border-box;
    bottom: 0;
    border-top: 0.5px solid grey;
    background-color: white;
    justify-content: space-around;
  }

  
  .svg:hover {
    fill: #7fb6f3;
  }