

.header {
    display: flex;
    align-items: center;
    height: 10vh;
    padding-left: 1rem;
    background-image: linear-gradient(to right, red, red, orangered);
    color: white;
  }
  
  .title {
    letter-spacing: 3px;
  }
  