

.header {
  display: flex;
  -moz-box-align: center;
  align-items: center;
  /* height: 10vh; */
  width: 100vw;
  padding-left: 1rem;
  color: white;
  /* border-bottom: 0.5px solid black; */
  padding: 0.51rem;
  box-shadow: 0px 5px 8px rgb(0 0 0 / 7%);
  background-color: white;
  justify-content: space-between;
  }
  
  .title {
    letter-spacing: 3px;
  }
  