.title {
    color:white;
    letter-spacing:1px;
    text-align:center;
  }
.main {
  //background-color: black;
  padding-top:1px;
}
.subHeading{
  font-weight: bold;
  font-size:18px;
  margin-left:1rem;
  margin-bottom: 0.75rem
}
.paymentMessage {
  color: #fff;
  font-size: 16px;
}
  .paymentMessage a { 
    color: #fff;
  }
  .closeIcon {
    position: absolute;
    z-index: 10;
    right: 0;
    top: -30px;
    cursor: pointer;

  }
  .closeIconInside {
    position: absolute;
    z-index: 10;
    right: 5px;
    top: 5px;
    cursor: pointer;
    fill:#ed1b24
  }
  .subTitle {
    color: orange;
    font-size: 0.8rem;
    text-align:center;
  }
  
  .logo {
    border-bottom: 0.5px solid grey;
  }
  .userDetailSection {
    border-radius: 10px;
    box-shadow:  0 0 10px  rgba(0,0,0,0.6);
    -moz-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
    -o-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
    background-color: white;
    position: absolute;
    margin: 0 auto;
    margin-top: -200px;
    z-index: 10;
    left: 5%;
    padding: 0.5rem;
    min-height: 200px;
    text-align: center;
    width: 90%;
    @media (min-width: 1024px) {
      width: 50%;
      left: 25%;
    }

    h3 {
      padding-top: 10px;
      margin-top: 40px;
      font-size: 14px;
      margin-bottom:4px ;
    }

    .userName {
      color: #999898;
      font-size: 10px;
      margin-bottom:10px ;
    }

  }
  .LoginIcon {
    width: 24px;
    height: 24px;
  }
  .noCoverStyleContainer {
    background-color: #000;
    min-height: 450px;
    margin-top: -1px;
    svg {
      fill: #fff !important;
      color: #fff;
    }
  }
  .coverStyleContainer {
    background-color: #f9f9f9;
    min-height: 450px;
    margin-top: -1px;
    svg {
      fill: #fff !important;
      color: #fff;
    }
  }
  .coverStyleWrapper {
    position: absolute;
    width: 100%;
  }
  .headerMenu {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    background: linear-gradient(rgb(0, 0, 0, 0.7), transparent);
  }
  .coverStyleImage {
    width: 100%;
    height: auto;
    object-fit: cover;
    overflow: hidden;
    max-height: 320px;
  }
  .contentSection {
    background-color: white;
    margin-top: 60px;
  }
  .userButtonWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .userPostDetailsContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    
    justify-content: space-around;
    @media (min-width: 1024px) {
      width: 100%;
      justify-content: center;
    }
    margin-top: 20px;

    .userPostIcon {
      width: 16px;
      height: 16px;
      fill: #999898;
    }
  }
  .userPostDetailsWrapper {
    padding-right: 10px;
    @media (min-width: 1024px) {
      padding-right: 40px;
    }
    &:last-child {
      padding-right: 0px;
    }
   
  }
  .userPostCount {
    font-size: 20px;
  }
  .userPostType {
    font-size: 10px;
    color: #999898;
    font-weight: bold;
  }
  .menu {
    display: flex;
    position: absolute;
    padding: 1rem;
    width: 100vw;
    box-sizing: border-box;
    bottom: 0;
    border-top: 0.5px solid grey;
    justify-content: space-around;
  }

  .around {
    width: 250px;
  }
  .profileIconOuter {
    border-radius: 10rem;
    background-color: white;
    height: 6rem;
    width: 6rem;
    /*   border: 1px solid black; */
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
      
  }
  .contentSection h3{
    text-align:center;
    padding-top:3rem;
  }
  
  .video{
    width: 100%;
}
  
  .profileIconInner{
     height: 5rem;
    width: 5rem;
    position: absolute;
    left: 0.5rem;
    top:0.5rem;
    background-image:url("../assets/images/defaultprof.jpg");
      background-position: center;
    background-repeat: no-repeat; 
    background-size: cover; 
      border-radius: 10rem;
  }
  .profile {
    border-radius: 10rem;
    background-color: white;
    height: 6rem;
    width: 6rem;
    /*   border: 1px solid black; */
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
     
  
  }
  
  .slot {
    box-shadow: 2px 2px 5px 2px rgb(0 0 0 / 10%);
    border-radius: 1rem;
    background: #fafafa;
    margin-top: 2rem;
    padding: 0.5rem 1rem;
    margin: 1rem 1rem 1rem;
  }
  .chatContent {
    color: grey;
    font-size: 0.8rem;
    /* margin-top: -0.2rem; */
    margin: 0.5rem 0 1rem 0;
  }
  
  
  .align {
    color: #ed1b24;
    border: 1px solid #ed1b24;
    padding:0.2rem 0.5rem;
    align-self:flex-end;
    float: right;
    border-radius: 8px;
  }
  
  .col {
    display: flex;
    flex-direction: colum;
  }
  
  .parentScroll {
    overflow-x: scroll;
    overflow-y: hidden;
    display:flex;  
    &::-webkit-scrollbar{
        display: none;
    }
  }
  .unlock{
    border-radius: 8px;
    background-color: #ed1b24;
    cursor: pointer;
    color: white;
    text-align: center;
    padding: 0.5rem;
    width: 100%;
    margin: 0;
  }
  .alt{
    margin:3rem 4rem;  
  }
  .unlock:hover{
    background-color:#FFC107;
  }
  
  .imgTitle{
    margin-left: 1rem;
    word-break: break-word;
    max-width: 200px;
  }
  
  .scroll{
    border-radius: 12px;
    // height:10rem;
    padding:1rem;
    margin: 0 0.5rem;
    position:relative;
    max-width: 200px;
    cursor: pointer !important;
    // background-color:#EEEEEE;
    // background-image: url('../../assets/images/test.jpeg');
    background-color: #d3d3d345;
  }
  
  
   .parent-scroll::-webkit-scrollbar {
      display: none;
    }

.LoginLink {
  color: #fff;
  text-align: right;
  text-decoration: none;
  padding-right: 10px;
}
.userReport{
  fill: #fff
}
.signupLinkWrapper {
  clear: both;
  text-align: center;
}
.sendOTPButton {
  margin-top: 10px;
}
.sendCnfButton {
  margin-left: 10px;
}

.imgList {
  object-fit: cover;
}

.unlockWrapper {
  position: relative;
}

.albumIcon {
  position: absolute;
  display: flex;
  line-height: 20px;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
  padding-right: 20px;
  z-index: 2;
}
.albumIcon div {
  background-color: rgba(227, 225, 225, 0.5);
}

.playIcon {
  background-color: rgba(227, 225, 225, 0.5);
  position: absolute;
  top: 42%;
  left: 45%;

  width:40px;
  height:40px;
  border-radius:20px;
  font-size:20px;
  color:#000;
  line-height:50px;
  text-align:center;
  cursor: pointer;
}

.navButWrapper {
  display: flex;
  justify-content: center;
  position: relative;
}

.carousel {
  display: block;
  min-width: 300px
}
.carouselPrev {
  width: 30px;
  position: absolute;
  z-index: 10;
  top: 40%;
  width:40px;
  height:40px;
  border-radius:20px;
  font-size:16px;
  color:#fff;
  line-height:50px;
  text-align:center;
  background:rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.carouselNext {
  position: absolute;
  z-index: 10;
  right: 40px;
  top: 40%;
  cursor: pointer;
  width:40px;
  height:40px;
  border-radius:20px;
  font-size:20px;
  color:#fff;
  line-height:50px;
  text-align:center;
  background:rgba(0, 0, 0, 0.5);
}

.carouselPage {
  display: block;
  text-align: right;
  margin-top: 10px;
  font-size: 12px;
}

.cardContainer {
  display: flex;
  width: 100%;
  overflow-x: scroll;
  margin-top: -10px;
  &::-webkit-scrollbar{
    display: none;
  }
}




.chattitle {
  font-size: 0.9rem;
  margin: 0.5rem 0 0.2rem 0;
}


.bookContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price{
  margin: 0;
}


.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:0.5rem;
  flex-direction: row;
  z-index: 10;
}
.progress {
  width: 25ch;
  text-align: center;
}

.subscriptionWrapper {
  border: 1px solid #cdcdcd;
  border-radius: 5px;
  padding: 5px 10px;
  margin-bottom: 20px;
  cursor: pointer;
  margin-right: 10%;
}

.subscriptionWrapperActive {
  border: 2px solid #ed1b24;
  border-radius: 5px;
  padding: 5px 10px;
  margin-bottom: 20px;
  margin-right: 10%;
}

.subscriptionHeadingWrapper {
  width: 100%;
  display: flex;
  flex-flow: row;
  max-height: 30px;
  margin-bottom: 5px;
}

.subscription {
  width: 100%;
  //max-height: 40vh;
  padding-right: 20px;
  //overflow: scroll;
  display: block;
}
.subscriptionHeadingWrapper h5{
  width: 90%;
  margin: 0px;
  margin-top: 5px;
  padding: 0px;
  line-height: 20px;
  font-size: 14px;
  font-weight: bold;
  color: rgb(136, 133, 133);
}

.subscriptionHeadingWrapper span {
  margin-top: -2px;
  position: absolute;
}
.subscriptionButtonWrapper {
  text-align: center;
  float: none;
  margin-top: 20px;

}
.subscriptionButtonWrapper button{
  float: none;
}
.subscriptionPrice {
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  margin-bottom: 5px;
  font-weight: bold;
}
.subscriptionDiscount {
  padding: 2px;
  font-size: 12px;
  border: 2px solid rgb(78, 195, 78);
  border-radius: 2px;
  width: 100px;
  text-align: center;
  color: rgb(78, 195, 78);
}

.subscriptionDesc {
  margin-top: 10px;
  font-size: 10px;
  color: rgb(136, 133, 133);
}

.modelTitle {
  margin-top: 0px;
  padding-top: 0px;
  font-size: 18px;
  font-weight: bolder;
}
.expiryDuration {
  display: block;
  color: #ed1b24;
  font-size: 12px;
  text-align: center;
  line-height: 20px;
}
.subscribedButton {
  background-color: #cdcdcd;
  color: #000;
  border-radius: 8px;
}
.subscribeButton {
  background-color: #ed1b24;
  color:#fff;
  border-radius: 8px;
}
.subForFree {
  margin-left: 20px;
  @media (min-width: 375px) {
    margin-left: 40px;  
  }
}

.subscriptionContainer {
  overflow: auto;
  max-height: 300px;
  ul {
    margin-left: -20px;

    li {
      margin-left: 0px;
      padding-left: 0px;
      list-style-type: disc;
      font-size: .75rem;
      color: #000;
    }
  }
  .moreInfo {
    margin-top: 20px;
    max-height: 70px;
    overflow: hidden;
    font-size: .75rem;
  }
  .moreInfoExpand {
    margin-top: 20px;
    font-size: .75rem;
  }
  .expandLink {
    margin-top: 10px;
    font-size: .75rem;
    cursor: pointer;
    text-align: center;
    width: 100%;
    background-color: linear-gradient(rgb(104, 103, 103, 0.8), transparent);
    height: 40px;
  }
}

.checkoutButton {
  width: 100%;
  max-width: 400px;
}