// $primary-color: black;

@import "../styles/variables.scss";
@import "../styles/globalStyles.scss";

.container {
    width: 100vw;
    height: 80vh;
}

.razorpay-container {
  width: 100vw !important;
}


#container {
  width: 100vw !important;
}
* {
    box-sizing: border-box;
    font-family: $primary-font;
    letter-spacing: 1px;
  }

  body {
    margin:0;
    min-height: 100vh;
    position: relative;
    min-height: -webkit-fill-available;
  }
  
  input[type=text],input[type=number], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    // &:focus {
    //   outline: 1px solid #568dc9;
    // }
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit], button {
    background-color:red;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    float: right;
  }
  
  input[type=submit]:hover {
    background-color: $secondary-color;
  }
  
  .italicBold {
    font-style: italic;
    font-weight: bold;
  }
  
  .col-25 {
    float: left;
    width: 15%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 85%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
  html {
    height: -webkit-fill-available;
    min-height: 100vh;
  }
