@font-face {
  font-family: "Open Sans";
  src: local("./fonts/OpenSans-Regular.ttf") format("ttf"),
}

@font-face {
  font-family: "Open Sans S-Bold";
  src: local("/fonts/OpenSans-SemiBold.ttf") format("ttf");
}
